.main-head { grid-area: header; }

.content { grid-area: content; }

.main-nav { grid-area: nav; }

.main-footer { grid-area: footer; }

.content-column-2 { grid-area: content-column-2; }

.content-column-about { grid-area: content-about; }

.content-column-3 { grid-area: content-3; }

.footer-wrapper-3 { grid-area: footer-wrapper-3; }

.main-wrapper {
  display: grid;
  grid-template-areas: "nav" "header" "content" "content" "footer"; }

.content-column-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "content-column-2"; }

.content-column-about {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "content-about"; }

.content-column-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "content-3"; }

.content-column-reviews {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "content-reviews"; }

.content-home-reviews {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "home-reviews";
}

.content-get-started {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "get-started"; }

.content-home-gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "home-gallery";
}

.content-home-about {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "home-about";
}

.content-home-design {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "home-design";
}

.footer-wrapper-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "footer-wrapper-3";
}

/* Total Hack for Mobile per Client Request saves moola */
.project-title {
  position: relative;
  top: -22rem;
}

.galleria {
  position: relative;
  top: 3rem;
}

@media (min-width: 500px) {
    .content-column-2 {
    grid-template-columns: 6.5fr 5fr;
    grid-template-areas: "content-column-2 content-column-2";
  }

  .content-column-about {
    grid-template-columns: 4.5fr 5fr;
    grid-template-areas: "content-about content-about";
  }

  .content-column-3 {
    grid-template-columns: 2.25fr 7fr;
    grid-template-areas: "content-3 content-3";
  }

  .content-column-reviews {
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "content-reviews content-reviews";
  }

  .content-home-reviews {
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-areas: "home-reviews home-reviews home-reviews";
    margin: 3rem 0 0 0;
    padding: 2rem;
  }

  .content-get-started {
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "get-started";
    margin-bottom: 2.5rem;
  }

  .content-home-gallery {
    grid-template-columns: 5fr 5fr;
    grid-template-areas: "home-gallery home-gallery";
    margin-bottom: 5rem;
  }

  .content-home-about {
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "home-about home-about";
  }

  .content-home-design {
    grid-template-columns: 6fr 6fr 6fr 3fr;
    grid-template-areas: "home-design home-design home-design .";
    margin-bottom: 5rem;
  }

  .footer-wrapper-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "footer-wrapper-3 footer-wrapper-3 footer-wrapper-3";
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
  }

  /* Total Hack for Mobile per Client Request saves moola */
  .project-title {
    position: static;
  }

  .galleria {
    position: static;
  }
}

@media (min-width: 600px) {
  .content-home-gallery {
    grid-template-columns: 5fr 5fr 5fr;
    grid-template-areas: "home-gallery home-gallery";
  }
}

@media (min-width: 650px) {
  .content-home-about {
    grid-template-columns: 6fr 6fr 6fr 3fr;
    grid-template-areas: "home-about home-about home-about home-about";
  }
}

@media (min-width: 750px) {
  .content-home-gallery {
    grid-template-columns: 5fr 5fr 5fr 5fr;
    grid-template-areas: "home-gallery"
  }
}

@media (min-width: 890px) {
  .content-home-gallery {
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
    grid-template-areas: "home-gallery"
  }
}
